.gwd-img-mo68 {
    position: absolute;
    width: 240px;
    height: 400px;
    left: 0px;
    top: 0px;
}
.gwd-img-1qiq {
    position: absolute;
    width: 240px;
    height: 47px;
    top: 353px;
    left: 0px;
}
.gwd-img-1tt3 {
    position: absolute;
    width: 123px;
    height: 34px;
    left: 15px;
    top: 17px;
    opacity: 1;
}
.gwd-img-m10g {
    position: absolute;
    width: 143px;
    height: 37px;
    left: 89px;
    top: 44px;
    opacity: 1;
}
.gwd-img-112n {
    position: absolute;
    width: 163px;
    height: 37px;
    left: 22px;
    top: 76px;
    opacity: 1;
}
.gwd-img-ntmj {
    position: absolute;
    width: 270px;
    height: 123.17px;
    left: -18px;
    top: 0px;
    opacity: 0;
}
.gwd-img-2qj6 {
    position: absolute;
    width: 240px;
    height: 248px;
    left: 0px;
    top: 105px;
    opacity: 1;
}
.gwd-img-1rxp {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 175px;
    top: 293px;
}
.gwd-img-17ku {
    position: absolute;
    width: 125px;
    height: 29px;
    top: 109px;
    left: 38px;
    opacity: 0;
}
.gwd-img-tz78 {
    position: absolute;
    width: 146px;
    height: 29px;
    top: 153px;
    left: 38px;
    opacity: 0;
}
.gwd-img-qp0w {
    position: absolute;
    width: 86px;
    height: 29px;
    top: 197px;
    left: 38px;
    opacity: 0;
}
.gwd-img-3goc {
    position: absolute;
    width: 146px;
    height: 117px;
    left: 47px;
    top: 109px;
    opacity: 0;
}
@keyframes gwd-gen-1v65gwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    18.75% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.625% {
        opacity: 0;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    88.125% {
        opacity: 0;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    88.75% {
        opacity: 0;
        left: 12px;
        top: 86px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    91.25% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1v65gwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    18.75% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    20.625% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    88.125% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    88.75% {
        opacity: 0;
        left: 12px;
        top: 86px;
        -webkit-animation-timing-function: ease;
    }
    91.25% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1v65gwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    18.75% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    20.625% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    88.125% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    88.75% {
        opacity: 0;
        left: 12px;
        top: 86px;
        -moz-animation-timing-function: ease;
    }
    91.25% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-1v65gwdanimation {
    animation: gwd-gen-1v65gwdanimation_gwd-keyframes 16s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1v65gwdanimation_gwd-keyframes 16s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1v65gwdanimation_gwd-keyframes 16s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-ee6ogwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.6897% {
        opacity: 1;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    22.7586% {
        opacity: 0;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.5517% {
        opacity: 0;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.2414% {
        opacity: 0;
        left: 99px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-ee6ogwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    20.6897% {
        opacity: 1;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    22.7586% {
        opacity: 0;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    96.5517% {
        opacity: 0;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    97.2414% {
        opacity: 0;
        left: 99px;
        -webkit-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-ee6ogwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    20.6897% {
        opacity: 1;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    22.7586% {
        opacity: 0;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    96.5517% {
        opacity: 0;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    97.2414% {
        opacity: 0;
        left: 99px;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-ee6ogwdanimation {
    animation: gwd-gen-ee6ogwdanimation_gwd-keyframes 14.5s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-ee6ogwdanimation_gwd-keyframes 14.5s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-ee6ogwdanimation_gwd-keyframes 14.5s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1h3bgwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.8333% {
        opacity: 1;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    22.9167% {
        opacity: 0;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.5278% {
        opacity: 0;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.2222% {
        opacity: 0;
        left: 5px;
        top: 7px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1h3bgwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    20.8333% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    22.9167% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    96.5278% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    97.2222% {
        opacity: 0;
        left: 5px;
        top: 7px;
        -webkit-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1h3bgwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    20.8333% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    22.9167% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    96.5278% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    97.2222% {
        opacity: 0;
        left: 5px;
        top: 7px;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-1h3bgwdanimation {
    animation: gwd-gen-1h3bgwdanimation_gwd-keyframes 14.4s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1h3bgwdanimation_gwd-keyframes 14.4s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1h3bgwdanimation_gwd-keyframes 14.4s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-pc2xgwdanimation_gwd-keyframes {
    0% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    41.0256% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    46.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    100% {
        width: 217px;
        height: 99px;
        left: 25px;
        top: 16px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-pc2xgwdanimation_gwd-keyframes {
    0% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    41.0256% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -webkit-animation-timing-function: ease;
    }
    46.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    96.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -webkit-animation-timing-function: ease;
    }
    100% {
        width: 217px;
        height: 99px;
        left: 25px;
        top: 16px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-pc2xgwdanimation_gwd-keyframes {
    0% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    41.0256% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -moz-animation-timing-function: ease;
    }
    46.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    96.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -moz-animation-timing-function: ease;
    }
    100% {
        width: 217px;
        height: 99px;
        left: 25px;
        top: 16px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-pc2xgwdanimation {
    animation: gwd-gen-pc2xgwdanimation_gwd-keyframes 7.8s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-pc2xgwdanimation_gwd-keyframes 7.8s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-pc2xgwdanimation_gwd-keyframes 7.8s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1d9egwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    53.1915% {
        opacity: 1;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    55.3191% {
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.1631% {
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1d9egwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    53.1915% {
        opacity: 1;
        -webkit-animation-timing-function: ease;
    }
    55.3191% {
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    97.1631% {
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1d9egwdanimation_gwd-keyframes {
    0% {
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    53.1915% {
        opacity: 1;
        -moz-animation-timing-function: ease;
    }
    55.3191% {
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    97.1631% {
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-1d9egwdanimation {
    animation: gwd-gen-1d9egwdanimation_gwd-keyframes 14.1s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1d9egwdanimation_gwd-keyframes 14.1s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1d9egwdanimation_gwd-keyframes 14.1s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-4t37gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 38px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    57.037% {
        opacity: 0;
        left: 38px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    60% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.7778% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-4t37gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: linear;
    }
    57.037% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: ease;
    }
    60% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    97.7778% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-4t37gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: linear;
    }
    57.037% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: ease;
    }
    60% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    97.7778% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-4t37gwdanimation {
    animation: gwd-gen-4t37gwdanimation_gwd-keyframes 13.5s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-4t37gwdanimation_gwd-keyframes 13.5s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-4t37gwdanimation_gwd-keyframes 13.5s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1ozzgwdanimation_gwd-keyframes {
    0% {
        left: 38px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    58.0882% {
        left: 38px;
        opacity: 0;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    61.0294% {
        left: 48px;
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.7941% {
        left: 48px;
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        left: 48px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1ozzgwdanimation_gwd-keyframes {
    0% {
        left: 38px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    58.0882% {
        left: 38px;
        opacity: 0;
        -webkit-animation-timing-function: ease;
    }
    61.0294% {
        left: 48px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    97.7941% {
        left: 48px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    100% {
        left: 48px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1ozzgwdanimation_gwd-keyframes {
    0% {
        left: 38px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    58.0882% {
        left: 38px;
        opacity: 0;
        -moz-animation-timing-function: ease;
    }
    61.0294% {
        left: 48px;
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    97.7941% {
        left: 48px;
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    100% {
        left: 48px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-1ozzgwdanimation {
    animation: gwd-gen-1ozzgwdanimation_gwd-keyframes 13.6s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1ozzgwdanimation_gwd-keyframes 13.6s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1ozzgwdanimation_gwd-keyframes 13.6s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-2ehmgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 38px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    59.1241% {
        opacity: 0;
        left: 38px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    62.0438% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.8102% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-2ehmgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: linear;
    }
    59.1241% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: ease;
    }
    62.0438% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    97.8102% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-2ehmgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: linear;
    }
    59.1241% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: ease;
    }
    62.0438% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    97.8102% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-2ehmgwdanimation {
    animation: gwd-gen-2ehmgwdanimation_gwd-keyframes 13.7s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-2ehmgwdanimation_gwd-keyframes 13.7s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-2ehmgwdanimation_gwd-keyframes 13.7s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-uf2xgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 47px;
        top: 109px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    63.1579% {
        opacity: 0;
        left: 47px;
        top: 109px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    66.1654% {
        opacity: 1;
        left: 52px;
        top: 104px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.7444% {
        opacity: 1;
        left: 52px;
        top: 104px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 52px;
        top: 104px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-uf2xgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -webkit-animation-timing-function: linear;
    }
    63.1579% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -webkit-animation-timing-function: linear;
    }
    66.1654% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -webkit-animation-timing-function: linear;
    }
    97.7444% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 52px;
        top: 104px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-uf2xgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -moz-animation-timing-function: linear;
    }
    63.1579% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -moz-animation-timing-function: linear;
    }
    66.1654% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -moz-animation-timing-function: linear;
    }
    97.7444% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 52px;
        top: 104px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-uf2xgwdanimation {
    animation: gwd-gen-uf2xgwdanimation_gwd-keyframes 13.3s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-uf2xgwdanimation_gwd-keyframes 13.3s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-uf2xgwdanimation_gwd-keyframes 13.3s linear 0s 1 normal forwards;
}
.gwd-taparea-om4h {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
    height: 400px;
}
.htmlNoPages.start .gwd-gen-1h3bgwdanimation {
    animation: gwd-gen-1h3bgwdanimation_gwd-keyframes_start 14.4s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1h3bgwdanimation_gwd-keyframes_start 14.4s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1h3bgwdanimation_gwd-keyframes_start 14.4s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1h3bgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.8333% {
        opacity: 1;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    22.9167% {
        opacity: 0;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.5278% {
        opacity: 0;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.2222% {
        opacity: 0;
        left: 5px;
        top: 7px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 15px;
        top: 17px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1h3bgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    20.8333% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    22.9167% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    96.5278% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
    97.2222% {
        opacity: 0;
        left: 5px;
        top: 7px;
        -webkit-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1h3bgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    20.8333% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    22.9167% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    96.5278% {
        opacity: 0;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
    97.2222% {
        opacity: 0;
        left: 5px;
        top: 7px;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 15px;
        top: 17px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-ee6ogwdanimation {
    animation: gwd-gen-ee6ogwdanimation_gwd-keyframes_start 14.5s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-ee6ogwdanimation_gwd-keyframes_start 14.5s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-ee6ogwdanimation_gwd-keyframes_start 14.5s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-ee6ogwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.6897% {
        opacity: 1;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    22.7586% {
        opacity: 0;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.5517% {
        opacity: 0;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.2414% {
        opacity: 0;
        left: 99px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 89px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-ee6ogwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    20.6897% {
        opacity: 1;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    22.7586% {
        opacity: 0;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    96.5517% {
        opacity: 0;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
    97.2414% {
        opacity: 0;
        left: 99px;
        -webkit-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 89px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-ee6ogwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    20.6897% {
        opacity: 1;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    22.7586% {
        opacity: 0;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    96.5517% {
        opacity: 0;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
    97.2414% {
        opacity: 0;
        left: 99px;
        -moz-animation-timing-function: ease;
    }
    100% {
        opacity: 1;
        left: 89px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-1v65gwdanimation {
    animation: gwd-gen-1v65gwdanimation_gwd-keyframes_start 16s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1v65gwdanimation_gwd-keyframes_start 16s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1v65gwdanimation_gwd-keyframes_start 16s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1v65gwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    18.75% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.625% {
        opacity: 0;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    88.125% {
        opacity: 0;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    88.75% {
        opacity: 0;
        left: 12px;
        top: 86px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    91.25% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        left: 22px;
        top: 76px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1v65gwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    18.75% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    20.625% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    88.125% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    88.75% {
        opacity: 0;
        left: 12px;
        top: 86px;
        -webkit-animation-timing-function: ease;
    }
    91.25% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1v65gwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    18.75% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    20.625% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    88.125% {
        opacity: 0;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    88.75% {
        opacity: 0;
        left: 12px;
        top: 86px;
        -moz-animation-timing-function: ease;
    }
    91.25% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        left: 22px;
        top: 76px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-pc2xgwdanimation {
    animation: gwd-gen-pc2xgwdanimation_gwd-keyframes_start 7.8s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-pc2xgwdanimation_gwd-keyframes_start 7.8s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-pc2xgwdanimation_gwd-keyframes_start 7.8s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-pc2xgwdanimation_gwd-keyframes_start {
    0% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    41.0256% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    46.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    100% {
        width: 217px;
        height: 99px;
        left: 25px;
        top: 16px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-pc2xgwdanimation_gwd-keyframes_start {
    0% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    41.0256% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -webkit-animation-timing-function: ease;
    }
    46.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    96.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -webkit-animation-timing-function: ease;
    }
    100% {
        width: 217px;
        height: 99px;
        left: 25px;
        top: 16px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-pc2xgwdanimation_gwd-keyframes_start {
    0% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    41.0256% {
        width: 270px;
        height: 123.17px;
        left: -18px;
        top: 0px;
        opacity: 0;
        -moz-animation-timing-function: ease;
    }
    46.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    96.1538% {
        width: 217px;
        height: 99px;
        left: 15px;
        top: 16px;
        opacity: 1;
        -moz-animation-timing-function: ease;
    }
    100% {
        width: 217px;
        height: 99px;
        left: 25px;
        top: 16px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-1d9egwdanimation {
    animation: gwd-gen-1d9egwdanimation_gwd-keyframes_start 14.1s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1d9egwdanimation_gwd-keyframes_start 14.1s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1d9egwdanimation_gwd-keyframes_start 14.1s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1d9egwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    53.1915% {
        opacity: 1;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    55.3191% {
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.1631% {
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1d9egwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    53.1915% {
        opacity: 1;
        -webkit-animation-timing-function: ease;
    }
    55.3191% {
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    97.1631% {
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1d9egwdanimation_gwd-keyframes_start {
    0% {
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    53.1915% {
        opacity: 1;
        -moz-animation-timing-function: ease;
    }
    55.3191% {
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    97.1631% {
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-uf2xgwdanimation {
    animation: gwd-gen-uf2xgwdanimation_gwd-keyframes_start 13.3s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-uf2xgwdanimation_gwd-keyframes_start 13.3s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-uf2xgwdanimation_gwd-keyframes_start 13.3s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-uf2xgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 47px;
        top: 109px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    63.1579% {
        opacity: 0;
        left: 47px;
        top: 109px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    66.1654% {
        opacity: 1;
        left: 52px;
        top: 104px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.7444% {
        opacity: 1;
        left: 52px;
        top: 104px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 52px;
        top: 104px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-uf2xgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -webkit-animation-timing-function: linear;
    }
    63.1579% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -webkit-animation-timing-function: linear;
    }
    66.1654% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -webkit-animation-timing-function: linear;
    }
    97.7444% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 52px;
        top: 104px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-uf2xgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -moz-animation-timing-function: linear;
    }
    63.1579% {
        opacity: 0;
        left: 47px;
        top: 109px;
        -moz-animation-timing-function: linear;
    }
    66.1654% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -moz-animation-timing-function: linear;
    }
    97.7444% {
        opacity: 1;
        left: 52px;
        top: 104px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 52px;
        top: 104px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-4t37gwdanimation {
    animation: gwd-gen-4t37gwdanimation_gwd-keyframes_start 13.5s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-4t37gwdanimation_gwd-keyframes_start 13.5s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-4t37gwdanimation_gwd-keyframes_start 13.5s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-4t37gwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 38px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    57.037% {
        opacity: 0;
        left: 38px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    60% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.7778% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-4t37gwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: linear;
    }
    57.037% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: ease;
    }
    60% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    97.7778% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-4t37gwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: linear;
    }
    57.037% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: ease;
    }
    60% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    97.7778% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-1ozzgwdanimation {
    animation: gwd-gen-1ozzgwdanimation_gwd-keyframes_start 13.6s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1ozzgwdanimation_gwd-keyframes_start 13.6s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1ozzgwdanimation_gwd-keyframes_start 13.6s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-1ozzgwdanimation_gwd-keyframes_start {
    0% {
        left: 38px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    58.0882% {
        left: 38px;
        opacity: 0;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    61.0294% {
        left: 48px;
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.7941% {
        left: 48px;
        opacity: 1;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        left: 48px;
        opacity: 0;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1ozzgwdanimation_gwd-keyframes_start {
    0% {
        left: 38px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    58.0882% {
        left: 38px;
        opacity: 0;
        -webkit-animation-timing-function: ease;
    }
    61.0294% {
        left: 48px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    97.7941% {
        left: 48px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    100% {
        left: 48px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1ozzgwdanimation_gwd-keyframes_start {
    0% {
        left: 38px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
    58.0882% {
        left: 38px;
        opacity: 0;
        -moz-animation-timing-function: ease;
    }
    61.0294% {
        left: 48px;
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    97.7941% {
        left: 48px;
        opacity: 1;
        -moz-animation-timing-function: linear;
    }
    100% {
        left: 48px;
        opacity: 0;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages.start .gwd-gen-2ehmgwdanimation {
    animation: gwd-gen-2ehmgwdanimation_gwd-keyframes_start 13.7s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-2ehmgwdanimation_gwd-keyframes_start 13.7s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-2ehmgwdanimation_gwd-keyframes_start 13.7s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-2ehmgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 38px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    59.1241% {
        opacity: 0;
        left: 38px;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    62.0438% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    97.8102% {
        opacity: 1;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-2ehmgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: linear;
    }
    59.1241% {
        opacity: 0;
        left: 38px;
        -webkit-animation-timing-function: ease;
    }
    62.0438% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    97.8102% {
        opacity: 1;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-2ehmgwdanimation_gwd-keyframes_start {
    0% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: linear;
    }
    59.1241% {
        opacity: 0;
        left: 38px;
        -moz-animation-timing-function: ease;
    }
    62.0438% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    97.8102% {
        opacity: 1;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        left: 48px;
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .event-1-animation {
    animation: gwd-empty-animation 16s linear 0s 1 normal forwards;
    -webkit-animation: gwd-empty-animation 16s linear 0s 1 normal forwards;
    -moz-animation: gwd-empty-animation 16s linear 0s 1 normal forwards;
}
@keyframes gwd-empty-animation {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes gwd-empty-animation {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes gwd-empty-animation {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}
.htmlNoPages.start .event-1-animation {
    animation: gwd-empty-animation_start 16s linear 0s 1 normal forwards;
    -webkit-animation: gwd-empty-animation_start 16s linear 0s 1 normal forwards;
    -moz-animation: gwd-empty-animation_start 16s linear 0s 1 normal forwards;
}
@keyframes gwd-empty-animation_start {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes gwd-empty-animation_start {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes gwd-empty-animation_start {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}